includes:
	- phpstan-baseline.neon
parameters:
	paths:
		- Civi
		- CRM
		- tests
		- notification.php
	excludePaths:
		analyse:
			- CRM/Notification/DAO/*
			- tests/phpunit/bootstrap.php
			- CRM/Notification/DAO/*
			- tests/**
			- Civi/Api4/**
			- CRM/Notification/Upgrader.php
			- Civi/Notification/Command/ProcessQueueCommand.php
			- Civi/Notification/EventSubscriber/NotificationSubscriber.php

	scanFiles:
		- notification.civix.php
	bootstrapFiles:
		- phpstanBootstrap.php
	level: 9
	reportUnmatchedIgnoredErrors: false
	universalObjectCratesClasses:
		- Civi\Core\Event\GenericHookEvent
		- CRM_Core_Config
		- CRM_Core_DAO
	treatPhpDocTypesAsCertain: false
	tmpDir: .phpstan
